Options +FollowSymLinks
RewriteEngine On
RewriteBase /projects/g/gssearch-1/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

DirectoryIndex index.html index.php

ErrorDocument 404 /404.php
RewriteRule ^home$ index.php [L]
RewriteRule ^exam-categories$ exam_categories.php [L]
RewriteRule ^aboutus$ aboutus.php [L]
RewriteRule ^contact$ contactus.php [L]
RewriteRule ^logout$ usrlogout.php [L]
RewriteRule ^bookmark$ bookmark.php [L]
RewriteRule ^my-account$ my-account.php [L]



RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^search/([A-Za-z0-9-_~()]+)$ search_results.php?srch=$1 [L,QSA]
RewriteRule ^([A-Za-z0-9-_~()]+)/([A-Za-z0-9-_~()]+)/([A-Za-z0-9-_~()]+)$ exam.php?catid=$1&scatid=$2&yr=$3 [L,QSA]
RewriteRule ^([A-Za-z0-9-_~()]+)/([A-Za-z0-9-_~()]+)/([A-Za-z0-9-_~()]+)/([A-Za-z0-9-_~()]+)$ lnk_shrd.php?catid=$1&scatid=$2&yr=$3&qnsid=$4 [L,QSA]

# RewriteRule ^(.*)/(.*)/(.*)/(.*)$ lnk_shrd.php?catid=$1&scatid=$2&yr=$3&qnsid=$4 [L,QSA]


RewriteRule ^error$ error.php [L]
RewriteRule ^404error$ 404.php [L]

rewritecond %{http_host} ^gssearch.in [nc]
rewriterule ^(.*)$ https://gssearch.in/$1 [r=301,nc]

#RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]